
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    color: #ffffff;
    padding: 20px 0;
}

.Logo{
    height: 100px;
    width: 180px;
    margin-top: -10px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header nav {
    margin-top: -80px;
}


header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

header ul li {
    margin-left: 40px;
}

header ul li a {
    font-weight: 600;
    color: #FE2D20;
    text-decoration: none;
    font-size: 1.2rem;
}   

header ul li a:hover {
    text-decoration: underline;
}

.laravel {
    margin-top: 40px;
    background-color: #1c1c20;
    color: #ffffff;
    padding: 60px 0;
    text-align: center;
}

.laravel h2 {
    font-size: 2rem;
}

.laravel p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.laravel .btn {
    background-color: #c72519;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.laravel .btn:hover {
    background-color: #e70000;
}

.features {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.features h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.feature-item {
    margin-bottom: 20px;
    text-align: center;
}

.feature-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1rem;
}

footer {
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}